<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tutorkit"
        tools:targetApi="31">
        <activity
            android:name=".Tutor.Students.Your_Student"
            android:exported="false" />
        <activity
            android:name=".Student.Tutors.Your_tutor"
            android:exported="false" />
        <activity
            android:name=".Student.Tutors.Tutor_list"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".UpdateEmail"
            android:exported="false" />
        <activity
            android:name=".UpdatePassword"
            android:exported="false" />
        <activity
            android:name=".Student.Account.Edit_student_profile"
            android:exported="false" />
        <activity
            android:name=".Student.Account.Student_profile"
            android:exported="false" />
        <activity
            android:name=".Tutor.Account.Tutor_register"
            android:exported="false" />
        <activity
            android:name=".Tutor.Account.Edit_tutor_profile"
            android:exported="false" />
        <activity
            android:name=".Tutor.Students.Student_list"
            android:exported="false" />
        <activity
            android:name=".Tutor.Tutor_home"
            android:exported="false" />
        <activity
            android:name=".Support"
            android:exported="false" />
        <activity
            android:name=".Tutor.Account.Tutor_profile"
            android:exported="false" />
        <activity
            android:name=".Tutor.Assignment"
            android:exported="false" />
        <activity
            android:name=".Tutor.Tuition_page"
            android:exported="false" />
        <activity
            android:name=".Tutor.Time_table"
            android:exported="false" />
        <activity
            android:name=".Student.Student_home"
            android:exported="false" />
        <activity
            android:name=".Student.Account.Student_register"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>